.content {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/img/backgroundboard.jpg');
    // background-image: url('~src/assets/img/backgroundboard.jpg'); 
}

.card-stack {
    position: relative;
    margin-right: 400px;
    img {
        position: absolute;
        width: 200px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
        filter: brightness(1.2);
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    transition: all 125ms ease-in-out;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.5) translateX(250px) translateY(-250px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5) translateX(250px) translateY(-250px) rotate(-10deg);
    }
}

.played-card {
    transform: scale(1.5) translateX(250px) translateY(-250px) rotate(-10deg);
    right: 25px;
}

.player-position {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    width: 250px;
}

.add-btn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.description {
    position: absolute;
    bottom: 20px;
    left: 100px;
    right: 150px;
}